<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sin_Reborn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Sin_Reborn.Properties.Settings>
            <setting name="nightmareRadioButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chimeraRadioButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customRadioButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statMultiplierNumeric" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="apMultiplierNumeric" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="scalingCheckBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dashboardLocation" serializeAs="String">
                <value>1107, 577</value>
            </setting>
        </Sin_Reborn.Properties.Settings>
    </userSettings>
</configuration>